@font-face {
  font-family: 'circular-std';
  src: url('./CircularStd-Book.ttf') format('truetype');
  font-style: normal;
  font-weight: 350;
}
@font-face {
  font-family: 'circular-std';
  src: url('./CircularStd-BookItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 350;
}
@font-face {
  font-family: 'circular-std';
  src: url('./CircularStd-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'circular-std';
  src: url('./CircularStd-MediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'circular-std';
  src: url('./CircularStd-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'circular-std';
  src: url('./CircularStd-BookItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'circular-std';
  src: url('./CircularStd-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'circular-std';
  src: url('./CircularStd-BlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
}
